In [ ]:
#1.Write a python program to convert a string to 
#lower case

In [1]:
x=input()
x.lower()

DFVBUHJDFBVUYGH

'dfvbuhjdfbvuygh'

In [ ]:
#6.Write a python program where you have 
#different variable which contains your name 
#,sex,age, phone no ,fathers name and mothers 
#name.And by using this variable create a
#variable named bio-data where you will use all 
#this variable

In [7]:
name=input("name: ")
sex=input("sex: ")
age=int(input("age: "))
phoneno=int(input("phone no: "))
fathername=input("father name: ")
mothername=input("mother name: ")
bio_data="name: {0}, sex: {1}, age: {2}, phoneno:{3}, fathername: {4}, mothername: {5}"
bio_data.format(name,sex,age,phoneno,fathername,mothername)

name: maggie
sex: female
age: 21
phone no: 9347579767
father name: vinay kumar
mother name: jyothi rain

'name: maggie, sex: female, age: 21, phoneno:9347579767, fathername: vinay kumar, mothername: jyothi rain'

In [ ]:
#7.Write a python program to count how many 
#times “@” occurred
#“name1.@gmail.com,name2.@gmail.com,name
#3.@gmail.com"

In [11]:
x="name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
x.count("@")

3

In [ ]:
#8.Write a python program to get only names from 
#the string 
#“name1.@gmail.com,name2.@gmail.com,name
#3.@gmail.com”

In [18]:
x="name1.@gmail.com,name2.@gmail.com,name3.@gmail.com"
x.replace(".@gmail.com","")

'name1,name2,name3'

In [ ]:
#9.Given a string of odd length greater that 9, 
#return a new string made of the middle three 
#characters of a given String

In [19]:
x="Gvinaykumar"
len(x)

11

In [20]:
x[len(x)//2-1]+x[len(x)//2]+x[len(x)//2+1]

'ayk'

In [ ]:
#10.Write a python program to insert a 2 string 
#in the middle of 1 string

In [4]:
str1="python"
str2="java"
str1[:len(str1)//2-1]+str2+str1[len(str1)//2:]

'pyjavahon'

In [ ]:
#11.Write a program to remove vowels from 
#the entire alphabets

In [17]:
x=input()
x.replace("a","").replace("e","").replace("i","").replace("o","").replace("u","")

abcdefghijklmnopqrstuvwxyz

'bcdfghjklmnpqrstvwxyz'

In [ ]:
#2.Write a python program to convert only odd 
#indexed characters to lower case

In [9]:
x=input("enter the word")
y=" "
for i in range(6):
    if i%2==0:
        y=y+x[i].lower()
    else:
        y=y+x[i].upper()
print(y)

enter the wordPYTHON
 pYtHoN

In [ ]:
#3.Write a python program to convert only even 
#indexed characters to lower case

In [11]:
x=input("enter the word")
y=" "
for i in range(6):
    if i%2==0:
        y=y+x[i].upper()
    else:
        y=y+x[i].lower()
print(y)

enter the wordPYTHON
 PyThOn

In [ ]:
#4.write a python program to convert only odd 
#indexed characters to upper case

In [14]:
x=input("enter the word")
y=" "
for i in range(6):
    if i%2==0:
        y=y+x[i].lower()
    else:
        y=y+x[i].upper()
print(y)

enter the wordpython
 pYtHoN

In [ ]:
#5.Write a python program to convert only even 
#indexed characters to upper case

In [15]:
x=input("enter the word")
y=" "
for i in range(6):
    if i%2==0:
        y=y+x[i].upper()
    else:
        y=y+x[i].lower()
print(y)

enter the wordpython
 PyThOn